<!doctype html>
<html lang="en">
  <head>
    <title>SCProj</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  
  <body>	
	<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="{% url 'front' %}" class="img logo rounded-circle mb-5" style="background-image: url({% static 'images/logo.jpg' %});"></a>
        <ul class="list-unstyled components mb-5">
          <li> <a href="{% url 'front' %}">TodoList</a> </li>
	      <li>
		    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">프로젝트</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              {% if proj_list_status == 200 %}
		      {% for project in projects %}
              <li><a href="{% url 'gotoProj' project_id=project.projectId %}">{{project.projectName}}</a></li>
		      {% endfor %}
              {% else %}
              <h3> {{ projects }} </h3>
              {% endif %}
            </ul>
	      </li>
	      <li> <a href="#theModal" data-toggle="modal" data-target="#theModal" data-remote="{% url 'addProject' %}">프로젝트추가</a></li>
        </ul>
	    </div>
    </nav>
    
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
	    {% block content %}
	    {% endblock %}
    </div>
  </div>

	<!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
		  <div class="modal-body">... remote content from "data-remote" loads here ...</div>
		  <div class="modal-footer">
		    <button type="button" class="btn btn-secondary"
		    data-dismiss="modal">Close</button>
		  </div>
        </div>
	  </div>
    </div>

  <div class="modal fade" id="theModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">프로젝트 추가</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form action="{% url 'addProject'%}" method="POST" encType="multiplart/form-data">
          <div class="modal-body">... remote content from "data-remote" loads here ...</div>
          <div class="modal-footer">
	        <button type="submit" class="btn btn-primary">Send message</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

  <script>
    $('#theModal').on('show.bs.modal', function (e) {
    var button = $(e.relatedTarget);
    var modal = $(this);
    modal.find('.modal-body').load(button.data("remote"));
    });
  </script>
  <script>
    $('#inviteModal').on('show.bs.modal', function (e) {
    var button = $(e.relatedTarget);
    var modal = $(this);
    modal.find('.modal-body').load(button.data("remote"));
    });

    $('#inviteBtn').click(function() {
    $('#inviteModal').modal('hide');
   });
  </script>

  </body>
</html>
