{% extends 'mainpage/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
      </button>
      <div id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="{% url 'notice_list' %}">공지사항</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'notice_new' %}">쪽지함</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'gotoChat' %}">채팅방</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'notice_list' %}">Home</a></li>
        </ul>
      </div>
    </div>
</nav>
  <div id="absoluteCenteredDiv">
	  <form method="POST" class="post-form">
      <div class="box">
		    <h2>공지사항 추가</h2>
			<input class="username" name="id" type="text" placeholder="제목을 입력하세요."><br>
			<textarea>
			<input class="username" name="id" type="text" placeholder="User Name">
			  {{ form.as_p }}
        <input class="button" type="submit" class="btn btn-primary" value="Save">
      </div>
    </form>
  </div>
{% endblock %}
