{% extends 'mainpage/base.html' %}

{% block content %}
<div class="container">
  <div class="header">
    <div class="page-header">
      <h1>To-do List22222222222222222222222</h1>
    </div>
  </div>
  <div class="content">
    {% if todo_list_status == 200 %}
    <div class="messageDiv">
      <form action="./createTodo/" method="POST">{% csrf_token %}
        <div class="input-group">
          <input id="todoContent" name="todoContent" type="text" class="form-control" placeholder="메모할 내용을 적어주세요">
            <span class="input-group-btn">
              <button class="btn btn-danger" type="submit">메모하기!</button>
            </span>
        </div>
      </form>
    </div>
    <div class="toDoDiv">
      <ul class="list-group">
        {% for todo in todos %}
        <form action="./deleteTodo/" method="GET">
          <div class="input-group" name='todo1'>
            <li class="list-group-item">{{ todo.content }}</li>
            <input type="hidden" id="todoNum" name="todoNum" value="{{ todo.pk }}"></input>
            <span class="input-group-addon">
              <button type="submit" class="custom-btn btn btn-info">완료</button>
            </span>
          </div>
        </form>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <p>{{ todo_list_error }}</p>
    {% endif %}

  </div>
</div>
{% endblock %}
