{% extends 'mainpage/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
    <div id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
	    <li class="nav-item active">
          <a class="nav-link" href="{% url 'notice_new' project_id=project_id %}" id = "make">공지사항 추가</a>
        </li>
        <li class="nav-item active">
          <a href="#inviteModal" class="nav-link" data-remote="{% url 'invite' project_id=project_id %}"
          data-toggle="modal" data-target="#inviteModal">초대하기</a></li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'front' %}">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h2><a style="color:black" href = "{% url 'notice_list' project_id=project_id %}">■ Notice</h2>
{% if notice_list_status == 200 %}
  {% for post in posts %}
    <div class="container-fluid" style="padding-top: 10px; border-radius:1em; margin: 10px; border:2px solid black;">
      <h5 class="mb-4"> <a href = "{% url 'notice_detail' notice_id=post.noticeId project_id=project_id %}">{{ post.title }}</a></h5>
      <ul>
        <li> {{ post.author }} </li>
        <li> {{ post.createdDate }} </li>
      </ul>
    </div>
  {% endfor %}
{% else %}
  <h3>{{ posts }}</h3>
{% endif %}

<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">초대하기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form action="{% url 'invite' project_id=project_id%}" method="POST" encType="multiplart/form-data">
      <div class="modal-body">
        ... remote content from "data-remote" loads here ...
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="inviteBtn">초대하기</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
